<% include partials/header %>

<body>
	<section>
		<div class="menu-section">


			<nav class="single-nav menu" role="navigation">
				<ul>
					<li><a href="#">Home</a></li>
					<li><a href="#">Rental</a></li>
					<li><a href="#">Courses</a></li>
					<li><a href="#">Schedule</a></li>
					<li><a href="#">Events</a></li>
					<li><a href="#">Reviews</a></li>
					<li><a href="#">Contact</a></li>

				</ul>
			</nav>
			<h1>Welcome to Kayak Instruction Inc.</h1>
		</div>

		<div class="homepage-hero-module">


			<div class="video-container">
				<div class="filter">


				</div>
				<div id="overlay"></div>
				<video autoplay loop class="fillWidth">
					<source src="674080684.mp4" type="video/mp4" />Your browser does not support the video tag. I suggest you upgrade your browser.
				</video>
				<div class="poster hidden">
					<img src="" alt="">
				</div>
			</div>
		</div>

	</section>  

<% include partials/footer %>
