<!DOCTYPE html>
<html>
<head>
	<title>Kayak Instruct</title>
	<link rel="stylesheet" type="text/css" href="assets/css/styles.css">
	<style>
		body {
			
		}
	</style>
</head>
<body>
	<h1>Welcome To Kayak Instruction Inc.</h1>
	<script type="text/javascript" src="assets/js/script.js"></script>
</body>
</html>